[project]
	description = data structures
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rsalota
[access "refs/for/refs/*"]
	read = group user/rsalota
	push = group user/rsalota
	label-Code-Review = -2..+2 group user/rsalota
	label-Verified = -1..+1 group user/rsalota
	rebase = group user/rsalota
	removeReviewer = group user/rsalota
	submit = group user/rsalota
[access "refs/heads/*"]
	read = group user/rsalota
	create = group user/rsalota
	push = +force group user/rsalota
	pushMerge = group user/rsalota
[access "refs/tags/*"]
	push = +force group user/rsalota
	pushTag = group user/rsalota
	pushSignedTag = group user/rsalota
